#[include mainsail.cfg]
[mcu]
serial: /dev/serial/by-id/usb-FTDI_FT232R_USB_UART_AG0JOPED-if00-port0

[include mainsail.cfg]
[include KAMP_Settings.cfg]
[include macro.cfg]
[include Led.cfg]
[include Klicky.cfg]
[include klicky-probe.cfg]

[virtual_sdcard]
path: /home/biqu/printer_1_data/gcodes
on_error_gcode: CANCEL_PRINT

[input_shaper]
shaper_freq_y: 31.2
shaper_freq_x: 53.8
shaper_type_y: mzv
shaper_type_x: 2hump_ei

[exclude_object]

[gcode_arcs]

[temperature_sensor CB1]
sensor_type: temperature_host
min_temp: -10
max_temp: 100

[probe]
Pin: ^PD3
x_offset: 0.0
y_offset: 19.75
#z_offset: 8.450
speed: 5
lift_speed: 7
samples: 3
samples_result: median
sample_retract_dist: 2
samples_tolerance: 0.02
samples_tolerance_retries: 10


[bed_mesh]
speed: 80
horizontal_move_z:  10
mesh_min:  -40, 7
mesh_max:  290, 169
probe_count:  7,7
mesh_pps:  2,2
algorithm:  bicubic
bicubic_tension:  0.2
fade_start:  1
fade_end:  10
fade_target:  0

[bed_screws]
screw1 = 35, 40
screw2 = 35, 215
screw3 = 245, 215
screw4 = 245, 40
screw1_name = front left screw
screw4_name = front right screw
screw3_name = rear right screw
screw2_name = rear left screw
horizontal_move_z: 10.
speed: 50.

[screws_tilt_adjust]
screw1: 35, 22
screw2: 35, 197
screw3: 245, 197
screw4: 245, 22
screw1_name: front left screw
screw4_name: front right screw
screw3_name: rear right screw
screw2_name: rear left screw
horizontal_move_z: 10.
speed: 50
screw_thread: CW-M4

[stepper_x]
step_pin = PF0
dir_pin = PF1
enable_pin = !PD7
microsteps = 16
rotation_distance = 40
endstop_pin = ^PE5
position_endstop = -1
position_max = 300
position_min = -1
homing_speed = 50

[stepper_y]
step_pin = PF6
dir_pin = PF7
enable_pin = !PF2
microsteps: 16
rotation_distance: 40
endstop_pin: ^PJ1
position_endstop = -46
position_max = 225
position_min = -46
homing_speed = 50

[stepper_z]
step_pin: PL3
dir_pin: !PL1
enable_pin: !PK0
endstop_pin: probe:z_virtual_endstop
microsteps: 16
rotation_distance: 8
position_max: 300
position_min: -6.0

[extruder]
step_pin: PA4
dir_pin: !PA6
enable_pin: !PA2
microsteps: 16
rotation_distance: 8
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB4
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PK5
min_temp: 0
max_temp: 300
max_extrude_only_distance: 500
max_extrude_cross_section: 7
control: pid
pid_kp: 22.992
pid_ki: 1.333
pid_kd: 99.154

[heater_bed]
heater_pin = PH5
sensor_type = EPCOS 100K B57560G104F
sensor_pin = PK6
min_temp = 0
max_temp = 120
control = pid
pid_kp = 70.921
pid_ki = 1.062
pid_kd = 1183.492

[fan]
pin = PH6


[printer]
kinematics:         cartesian
max_velocity:       500
max_accel:          3000
max_z_velocity:     5
max_z_accel:        100

[display]
lcd_type = st7920
cs_pin = PH1
sclk_pin = PA1
sid_pin = PH0
encoder_pins = ^PC4, ^PC6
click_pin = ^!PC2

[output_pin beeper]
pin = PC0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 8.400
