[include shell_command.cfg]
#[include mainsail.cfg]
[mcu]
serial: /dev/serial/by-id/usb-FTDI_FT232R_USB_UART_AG0JOPED-if00-port0

#[include mainsail.cfg]
[include macro.cfg]
[include Led.cfg]
[include ./Klicky/Klicky.cfg]
[include ./Klicky/klicky-probe.cfg]

#[firmware_retraction]
#retract_length: 4
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
#retract_speed: 80
#   The speed of retraction, in mm/s. The default is 20 mm/s.
#unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
#unretract_speed: 80
#   The speed of unretraction, in mm/s. The default is 10 mm/s.


[virtual_sdcard]
path: /home/biqu/printer_1_data/gcodes
on_error_gcode: CANCEL_PRINT

[input_shaper]
shaper_freq_y: 31.2
shaper_freq_x: 53.8
shaper_type_y: mzv
shaper_type_x: 2hump_ei

[exclude_object]

[gcode_arcs]

[temperature_sensor CB1]
sensor_type: temperature_host
min_temp: -10
max_temp: 100

[probe]
Pin: ^PD3
x_offset: 0.0
y_offset: 19.75
#z_offset: 8.450
speed: 5
lift_speed: 7
samples: 3
samples_result: median
sample_retract_dist: 2
samples_tolerance: 0.02
samples_tolerance_retries: 10

[bed_mesh]
speed: 80
horizontal_move_z:  10
mesh_min:  0, 7
mesh_max:  285, 235
probe_count:  7,7
mesh_pps:  2,2
algorithm:  bicubic
bicubic_tension:  0.2
fade_start:  1
fade_end:  10
fade_target:  0

[bed_screws]
screw1: 35, 40
screw2: 35, 215
screw3: 245, 215
screw4: 245, 40
screw1_name: front left screw
screw4_name: front right screw
screw3_name: rear right screw
screw2_name: rear left screw
horizontal_move_z: 10.
speed: 50.

[screws_tilt_adjust]
screw1: 35, 22
screw2: 35, 197
screw3: 245, 197
screw4: 245, 22
screw1_name: front left screw
screw4_name: front right screw
screw3_name: rear right screw
screw2_name: rear left screw
horizontal_move_z: 10.
speed: 50
screw_thread: CW-M4

[stepper_x]
step_pin: PF6
dir_pin: !PF7
enable_pin: !PF2
microsteps: 16
rotation_distance: 40
endstop_pin: ^PE5
position_endstop: 285
position_max: 285
position_min: -1
homing_speed: 50


[stepper_z]
step_pin: PF0
dir_pin: !PF1
enable_pin: !PD7
microsteps: 16
rotation_distance: 40
endstop_pin: probe:z_virtual_endstop
position_max: 290
position_min: -5


[stepper_y]
step_pin: PL3
dir_pin: PL1
enable_pin: !PK0
endstop_pin: ^PJ1
microsteps: 16
rotation_distance: 40
position_max: 300
position_endstop: -46
position_min: -50
homing_speed: 50


[extruder]
step_pin: PA4
dir_pin: !PA6
enable_pin: !PA2
microsteps: 16
rotation_distance: 8
nozzle_diameter: 0.400
filament_diameter: 1.750
pressure_advance: 0.05
#   The amount of raw filament to push into the extruder during
#   extruder acceleration. An equal amount of filament is retracted
#   during deceleration. It is measured in millimeters per
#   millimeter/second. The default is 0, which disables pressure
#   advance.
pressure_advance_smooth_time: 0.040
#   A time range (in seconds) to use when calculating the average
#   extruder velocity for pressure advance. A larger value results in
#   smoother extruder movements. This parameter may not exceed 200ms.
#   This setting only applies if pressure_advance is non-zero. The
#   default is 0.040 (40 milliseconds)
heater_pin: PB4
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PK5
min_temp: 0
max_temp: 300
max_extrude_only_distance: 500
max_extrude_cross_section: 7
#control: pid
#pid_kp: 22.992
#pid_ki: 1.333
#pid_kd: 99.154

[heater_bed]
heater_pin: PH5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PK6
min_temp: 0
max_temp: 120
control: pid
pid_kp: 70.921
pid_ki: 1.062
pid_kd: 1183.492

[fan]
pin: PH6


[printer]
kinematics:         corexz
max_velocity:       500
max_accel:          3000
max_z_velocity:     5
max_z_accel:        100

[display]
lcd_type: st7920
cs_pin: PH1
sclk_pin: PA1
sid_pin: PH0
encoder_pins: ^PC4, ^PC6
click_pin: ^!PC2

[output_pin beeper]
pin: PC0

[include moonraker_obico_macros.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 7.700
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.550000, -0.537500, -0.462500, -0.337500, -0.137500, 0.137500, 0.525000
#*# 	  -0.537500, -0.525000, -0.437500, -0.337500, -0.162500, 0.125000, 0.562500
#*# 	  -0.450000, -0.462500, -0.400000, -0.225000, -0.050000, 0.275000, 0.637500
#*# 	  -0.225000, -0.250000, -0.200000, -0.112500, 0.050000, 0.325000, 0.650000
#*# 	  -0.125000, -0.125000, -0.087500, -0.000000, 0.200000, 0.437500, 0.775000
#*# 	  0.075000, 0.100000, 0.087500, 0.150000, 0.262500, 0.512500, 0.825000
#*# 	  0.187500, 0.162500, 0.200000, 0.300000, 0.425000, 0.687500, 1.025000
#*# x_count = 7
#*# y_count = 7
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 0.0
#*# max_x = 285.0
#*# min_y = 7.0
#*# max_y = 235.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 28.241
#*# pid_ki = 2.092
#*# pid_kd = 95.312
